.btn {
    text-transform: uppercase;
    font-family: CormorantGaramond-Bold;
    font-size: 25px;
    color: #402214;
    letter-spacing: 4.21px;
    background: #FBF1DF;
    border: 1px solid #402214;
    border-radius: 36.5px;
    padding: 15px 25px;
    position: relative;
    z-index: 1;
    transition: 0.2s all ease-in-out;

    &:hover {
        background: #46685B;
        color: white;
    }

    &--primary {

    }
}
