.posts {
    .post {

        img {
            left: -20%;
            top: 50%;

            @media only screen and (max-width: 1024px){
                max-width: 200px;
                top: -10%;
            }
        }

        &:nth-child(even){

            img {
                left: auto;
                right: -20%;
            }

            figure {
                order: 2;
            }

            div {
                order: 1;
            }
        }
    }
}
