//Rig Solid Bold Fill
h1, h2, h3 {
    font-family: "rig-solid-bold-fill", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #402214;
    letter-spacing: 0.6px;
    line-height: 36px;
}

.underline-yellow {
    position: relative;
    z-index: 1;
    display: inline-block;
    &:before {
        content: '';
        @apply bg-yellow;
        height: 14px;
        border-radius: 36px;
        width: 105%;
        position: absolute;
        left: 50%;
        bottom: 2px;
        transform: translateX(-50%);
        z-index: -1;
    }

    @media only screen and (max-width: 1024px){
        &:before{
            //display: none;
        }
    }
}

@keyframes line {
    from {
        left: 0;
        width: 0;
    }
    to {
        left: 50%;
        width: 105%;
    }
}

@keyframes mobile-line {
    from {
        left: 0;
        width: 0;
    }
    to {
        left: 50%;
        width: 50%;
    }
}

.underline-yellow.intro{
    position: relative;
    z-index: 1;
    display: inline-block;
    &:before {
        width: 0;
        content: '';
        @apply bg-yellow;
        height: 14px;
        border-radius: 36px;
        position: absolute;
        animation: line 1s ease-out forwards;
        animation-iteration-count: 1;
        animation-delay: 0.3s;
        bottom: 2px;
        transform: translateX(-50%);
        z-index: -1;
    }

    @media only screen and (max-width: 1024px){
        &:before{
            animation: mobile-line 1s ease-out forwards;
            bottom: -15px;
        }
    }
}

.written {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}
